*{
    font-size: 50px;
  }
  
  body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
    font-size: 20px;
  }
  
  h1 {
    font-size: 30px;
    font-style: italic;
    color: #373fff;
  }
  
  p {
    font-size : 15px;
    text-align: center;
  }
  
  i {
    text-align:center;
  }