body {
    margin: 0;
    padding:  0;
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    font-family: 'Roboto Mono', monospace;
    background: linear-gradient(119.9deg, rgba(3, 83, 237, 0.13) 0.63%, rgba(8, 500, 115, 0.75) 99.42%);
    
  }
  

/* CSS for navbar*/
.nav{
    display: inline-block;
    width: auto;
    height: 40px;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
    color: #000000;
  }
  .nav:hover {
    border-bottom: 5px;
    border-color: black;
    background-color: #66ffff;
  }  
  
  #dlogin {
    background: linear-gradient(90deg, #FF2F23 34.25%, #FF3232 100%);
  }
  
  #dregister {
    background: linear-gradient(90deg, #FF2F23 34.25%, #FF3232 100%);
  }
  